
Flask
Flask-Cors
fastapi
uvicorn
spacy
torch
torchvision
scikit-learn
tensorflow
keras
transformers
sentence-transformers
catboost

deepface
facenet-pytorch
mtcnn
mediapipe
opencv-python
opencv-contrib-python
pygame

mistralai

pillow
pdf2image
PyMuPDF
fpdf
pytesseract
pdfplumber

numpy
pandas
matplotlib
seaborn
joblib
requests
tqdm
python-dotenv

qrcode
PyYAML
email-validator

gunicorn
