# Web and API frameworks
Flask
Flask-Cors
fastapi
uvicorn

# Machine Learning & Deep Learning
torch
torchvision
scikit-learn
tensorflow
keras
transformers
sentence-transformers
catboost

# Facial and Gesture Recognition
deepface
facenet-pytorch
mtcnn
mediapipe
opencv-python
opencv-contrib-python
pygame

# LLM / Mistral
mistralai

# Image & PDF Processing
pillow
pdf2image
PyMuPDF
fpdf
pytesseract
pdfplumber

# Data Handling & Utils
numpy
pandas
matplotlib
seaborn
joblib
requests
tqdm
python-dotenv

# QR Code, Email, Misc
qrcode
PyYAML
email-validator

# Deployment
gunicorn
